<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lkkdesign.changlong">

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:appComponentFactory">
        <activity android:name=".activity.SearchDataActivity" />
        <activity android:name=".activity.ManualMeasureTipActivity" />
        <activity android:name=".activity.SendEmailActivity" />
        <activity android:name=".activity.TBSActivity" />
        <activity android:name=".activity.ListEmReportActivity" />
        <activity android:name=".activity.TimingMeasureSecActivity" />
        <activity android:name=".activity.InputDataActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.HelpActivity" />
        <activity
            android:name=".activity.EmergencyReportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_emergency_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LineChartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_emergency_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DataAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_emergency_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DataManageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_emergency_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailedDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_emergency_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DataInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_emergency_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BaseSMRecycleViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_emergency_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
            activity
            android:name=".activity.DragSwipeListActivity"
            android:theme="@style/AppTheme.NoActionBar" /
        -->
        <activity
            android:name=".activity.PhotometerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CurveSelectActivity"
            android:label="@string/select_curve"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TimingMeasureTipActivity"
            android:label="@string/select_curve"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.CurveMeasureActivity" />
        <activity
            android:name=".activity.TimingSetupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.TimingMeasureActivity" />
        <activity
            android:name=".activity.CurveManageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.UserAddActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.UserEditActivity" />
        <activity android:name=".activity.AutoMeasureActivity" />
        <activity android:name=".activity.ManualMeasureFristActivity" />
        <activity android:name=".activity.ManualMeasureSecActivity" />
        <activity android:name=".activity.PhotometerFristActivity" />
        <activity android:name=".activity.PhotometerSecActivity" />
        <activity android:name=".activity.PoiActivity" />
        <activity android:name=".activity.CureAdjustActivity" />
        <activity android:name=".activity.ExcelActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Main2Activity" />
        <activity
            android:name=".printer.ConnectIPActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".printer.AppStart"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".printer.ConnectUSBActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".printer.SearchBTActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".printer.SearchBLEActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AccountActivity" />
        <activity android:name=".activity.CurveMeasureInputActivity"></activity>
        <activity android:name=".activity.CamearImageActivity"></activity>
    </application>

</manifest>